/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 มิ.ย. 2558, 11:38:53
    Author     : toshiba_
*/
.btn-gold {
                background-color: #CCAA33;
                border-color: #CCAA33;
                color: #fff;
            }
             .panel-gold{
                background-color: #CCAA33;
                border-color: #CCAA33;
                color: #fff;
            }
